- var SUPPORT = LANG.support;
include ../templates/mixins/list.pug

section.support
	.wrapper
		.support__wrapper
			.support__left
				h2.support__title.title.title--med!= SUPPORT.title
				p.support__desc!= SUPPORT.desc
			+list(SUPPORT.list).support__list.list--green
