.reasons
	padding-bottom: 83px
	+r(1024)
		padding-bottom: 30px
	.container
		width: 1760px
		+r(1920)
			width: 100%
			padding-left: 80px
			padding-right: 80px
		+r(1440)
			padding-left: 70px
			padding-right: 70px
		+r(1300)
			padding-left: 60px
			padding-right: 60px
		+r(1024)
			padding-left: 30px
			padding-right: 30px
	&__wrapper
		+r(1024)
			margin-bottom: 96px
	&__item
		position: relative
		user-select: none
		padding-top: 27px
		padding-bottom: 90px
		margin-bottom: -60px
		&:not(&:first-of-type)
			padding-top: 90px
			padding-bottom: 27px
		&.active
			z-index: 1
			padding-top: 69px
			padding-bottom: 90px
			&:not(&:first-of-type)
				padding-top: 69px
				padding-bottom: 90px
			.reasons
				&__item
					&--first
						padding-bottom: 80px
				&__title-preview
					height: 0
					opacity: 0
				&__top
					pointer-events: none
					.fico
						transform: rotate(180deg)
			&::after
				border: 2px solid white
		&::after
			content: ''
			display: block
			position: absolute
			right: -60px
			left: -60px
			top: 0
			bottom: 0
			border-radius: 40px
			z-index: -1
			pointer-events: none
		&--green
			&::after
				background-color: #E3F5F3
				border: 2px solid #E3F5F3
				z-index: -1
			&:hover
				&::after
					background-color: #D1F5F1
		&--pink
			&::after
				background-color: #FAE9FF
				border: 2px solid #FAE9FF
			&:hover
				&::after
					background-color: #F8DDFF
		&--green, &--pink
			&::after
				background-image: none
		&--green
			&.active
				&::after
					background: #E3F5F3 url('../img/svg/green_bg.svg') no-repeat 103% 130px
		&--pink
			&.active
				&::after
					background: #FAE9FF url('../img/svg/pink_bg.svg') no-repeat 103% 130px
		+r(1440)
			&.active
				padding-top: 40px
				padding-bottom: 80px
				&:not(&:first-of-type)
					padding-top: 40px
					padding-bottom: 80px
			&::after
				right: -50px
				left: -50px
			&--green
				&.active
					&::after
						background: #E3F5F3 url('../img/svg/green_bg.svg') no-repeat 103% 100px
						background-size: 210px
			&--pink
				&.active
					&::after
						background: #FAE9FF url('../img/svg/pink_bg.svg') no-repeat 103% 90px
						background-size: 200px

		+r(1300)
			padding-bottom: 80px
			&::after
				right: -40px
				left: -40px
			&.active
				padding-top: 30px
				padding-bottom: 70px
				&:not(&:first-of-type)
					padding-top: 30px
					padding-bottom: 70px
			&--green
				&.active
					&::after
						background: #E3F5F3 url('../img/svg/green_bg.svg') no-repeat 103% 100px
						background-size: 160px
			&--pink
				&.active
					&::after
						background: #FAE9FF url('../img/svg/pink_bg.svg') no-repeat 103% 80px
						background-size: 150px
		+r(1024)
			padding-top: 23px
			padding-bottom: 70px
			&:not(&:first-of-type)
				padding-top: 74px
				padding-bottom: 15px
			&.active
				z-index: 1
				padding-top: 23px
				padding-bottom: 60px
				&:not(&:first-of-type)
					padding-top: 23px
					padding-bottom: 60px
				.reasons
					&__item
						&--first
							padding-bottom: 80px
			&--green
				&.active
					&::after
						background: #E3F5F3 url('../img/svg/green_bg.svg') no-repeat 103% 48%
						background-size: 130px
			&--pink
				&.active
					&::after
						background: #FAE9FF url('../img/svg/pink_bg.svg') no-repeat 103% 48%
						background-size: 120px
		+r(768)
			&--green, &--pink
				&.active
					&::after
						background-position: 103% bottom
						background-size: 80px
		+r(480)
			padding-bottom: 70px
			&::after
				right: -30px
				left: -30px
			&::after
				border-radius: 20px
			&:not(&:first-of-type)
				padding-top: 81px
				padding-bottom: 19px
			&.active
				padding-bottom: 35px
				&:not(&:first-of-type)
					padding-bottom: 35px
				.reasons
					&__item
						&--first
							padding-bottom: 80px
			&--green, &--pink
				&.active
					&::after
						background-position: 107% calc(100% - -30px)
						background-size: 130px
	&__wrap-title
		width: 31.3%
		margin-right: 50px
		+r(1720)
			margin-right: 30px
		+r(1024)
			width: 30%
		+r(768)
			width: 90%
			margin-bottom: 30px
		+r(480)
			width: 87%
			margin-bottom: 20px
	&__title
		color: $garkGreen
		+r(480)
			font-size: 32px
	&__top
		display: flex
		align-items: center
		justify-content: space-between
		color: $garkGreen
		cursor: pointer
		.fico
			position: relative
			left: 27px
			font-size: 18px
			transition: all .3s
		+r(1440)
			.fico
				left: 0
				font-size: 16px
		+r(1024)
			.fico
				font-size: 14px
	&__title-preview
		font-size: 40px
		font-family: $fontBebas
		transition: all .2s
		+r(1720)
			font-size: 36px
		+r(1440)
			font-size: 32px
		+r(1300)
			font-size: 30px
		+r(1024)
			font-size: 27px
	&__bottom
		display: none
	&__content
		display: flex
		align-items: flex-start
		+r(768)
			display: block
	&__list
		max-width: 51%
		width: 100%
		padding-top: 9px
		+r(1440)
			padding-top: 0
		+r(768)
			max-width: 85%
		+r(480)
			max-width: 100%
			display: flex
			flex-wrap: wrap
	.list__item
		+nlt
			margin-bottom: 24px
			padding-bottom: 24px
			border-bottom: 1px solid transparentize($garkGreen, .8)
		+r(1720)
			+nlt
				margin-bottom: 20px
				padding-bottom: 20px
		+r(1440)
			+nlt
				margin-bottom: 15px
				padding-bottom: 15px
		+r(1300)
			+nlt
				margin-bottom: 10px
				padding-bottom: 10px
		+r(480)
			width: 50%
			padding-top: 15px
			+nlt
				margin: 0
				padding-bottom: 15px
			&:nth-of-type(even)
				padding-left: 20px
			&:nth-of-type(odd)
				border-right: 1px solid transparentize($garkGreen, .8)
				
	&__label
		display: flex
		align-items: flex-start
		flex-direction: row-reverse
		margin-top: 40px
		width: 70%
		&--mob
			display: none
		+r(1720)
			margin-top: 30px
			width: 80%
		+r(1140)
			width: 90%
			margin-top: 20px
		+r(1024)
			width: 100%
			margin-top: 0
			&--desc
				display: none
			&--mob
				display: flex
				flex-direction: row
		+r(480)
			flex-direction: row-reverse
			align-items: flex-start
	&__label-ico
		flex-shrink: 0
		width: 56px
		+r(1024)
			margin-right: 20px
		+r(480)
			margin-right: 0
			width: 39px
	&__label-text
		font-size: 18px
		line-height: 140%
		color: $garkGreen
		+r(1920)
			margin-right: 10px
		+r(1440)
			font-size: 16px
		+r(1300)
			font-size: 14px
		+r(1024)
			margin-right: 0
		+r(480)
			line-height: 140%
			margin-right: 15px