.registration
	&__wrapper
		background: #005F53 url('../img/svg/registration_bg.svg') no-repeat left bottom
		display: flex
		justify-content: space-between
		border-radius: 40px
		margin: 0 -60px
		+r(1440)
			margin: 0 -50px
		+r(1300)
			margin: 0 -40px
		+r(1140)
			background-size: 690px
		+r(1024)
			margin: 0 -30px
		+r(768)
			display: block
			background: #005F53
		+r(480)
			border-radius: 20px
			margin: 0 -20px
	&__left
		padding-left: 60px
		padding-top: 69px
		padding-bottom: 70px
		max-width: 60%
		width: 100%
		display: flex
		flex-direction: column
		+r(1440)
			padding-left: 40px
			padding-top: 60px
		+r(1300)
			padding-left: 30px
			padding-top: 50px
		+r(1024)
			padding: 30px
		+r(768)
			max-width: 100%
			padding-bottom: 0
		+r(480)
			padding-left: 20px
			padding-right: 20px
	&__title
		font-size: 101px
		line-height: 100%
		+r(1920)
			font-size: 5.2vw
		+r(1024)
			font-size: 6vw
			margin-bottom: 30px
		+r(768)
			margin-bottom: 30px
			font-size: 60px
		+r(595)
			font-size: 40px
		+r(480)
			max-width: 99%
			margin-bottom: 17px
	&__info
		display: flex
		align-items: flex-end
		margin-top: auto
		+r(1720)
			display: block
	&__price-wrap
		margin-right: 50px
		+r(1720)
			margin-right: 0
			margin-bottom: 10px
		+r(1440)
			margin-right: 30px
		+r(1300)
			margin-right: 20px
		+r(1024)
			margin-right: 0
			margin-bottom: 30px
	&__price-label
		font-size: 18px
		line-height: 120%
		margin-bottom: 15px
		+r(1300)
			font-size: 16px
			margin-bottom: 10px
	&__price
		display: flex
		align-items: baseline
		font-family: $fontBebas
		white-space: nowrap
	&__price-new
		margin-right: 16px
		font-size: 90px
		+r(1440)
			margin-right: 12px
		+r(1300)
			font-size: 86px
			margin-right: 10px
		+r(1024)
			font-size: 78px
		+r(890)
			font-size: 54px
		+r(768)
			font-size: 80px
			margin-right: 5px
		+r(595)
			font-size: 65px
		+r(480)
			font-size: 50px
		+r(374)
			font-size: 44px
		
	&__price-old
		font-size: 40px
		line-height: 120%
		+r(1440)
			font-size: 36px
		+r(1300)
			font-size: 32px
		+r(890)
			font-size: 26px
		+r(768)
			font-size: 40px
		+r(595)
			font-size: 35px
		+r(480)
			font-size: 26px
		+r(374)
			font-size: 20px
	&__date
		display: flex
		align-items: center
		margin-bottom: 17px
		+r(1024)
			margin-bottom: 0
	&__form
		max-width: 680px
		width: 100%
		.form
			background: $primary
			&__title
				display: none
		+r(1920)
			max-width: 37%
		+r(1140)
			max-width: 35%
		+r(1024)
			max-width: 38%
			min-width: 360px
		+r(768)
			margin: 0 auto
			min-width: auto
			max-width: 100%
		+r(595)
			max-width: 100%


.date-item
	display: flex
	align-items: center
	max-width: 205px
	width: 100%
	flex-shrink: 0
	padding: 18px 0
	border-top: 1px solid transparentize(white, 0.5)
	border-bottom: 1px solid transparentize(white, 0.5)
	&:not(:first-of-type)
		padding-left: 40px
	+nlt
		border-right: 1px solid transparentize(white, 0.5)
	+r(1920)
		max-width: inherit
		width: auto
		padding-right: 30px
	+r(1720)
		&:not(:first-of-type)
			padding-left: 30px
	+r(1300)
		&:not(:first-of-type)
			padding-left: 20px
	+r(1140)
		padding-top: 10px
		padding-bottom: 10px
		padding-right: 20px
	+r(768)
		border-bottom: 0
		max-width: 50%
		width: 100%
		justify-content: center
		padding: 10px
		text-align: center
	&__ico
		flex-shrink: 0
		margin-right: 24px
		+r(1300)
			margin-right: 15px
		+r(1140)
			margin-right: 10px
			height: 28px
		+r(768)
			display: none
	&__text
		font-weight: 500
		font-size: 18px
		line-height: 120%
		+r(1300)
			font-size: 16px
		+r(768)
			br
				display: none
		+r(480)
			br
				display: block