.stories
	padding-top: 140px
	padding-bottom: 160px
	+r(1440)
		padding-top: 90px
		padding-bottom: 110px
	+r(1300)
		padding-bottom: 90px
	+r(768)
		padding-top: 50px
		padding-bottom: 60px
	+r(480)
		padding-top: 40px
		padding-bottom: 50px
	.wrapper
		position: relative
	&__quotes
		position: absolute
		top: 0
		right: 10px
		+r(1920)
			right: 90px
		+r(1440)
			right: 80px
			width: 110px
		+r(1300)
			right: 70px
		+r(1140)
			width: 90px
		+r(1024)
			right: 40px
			width: 60px
		+r(768)
			width: 50px
		+r(480)
			right: 30px
			width: 40px
	&__title
		color: $garkGreen
		margin-bottom: 68px
		br
			display: none
		+r(1300)
			margin-bottom: 45px
		+r(768)
			margin-bottom: 25px
		+r(595)
			width: 360px
			br
				display: block
		+r(480)
			width: 230px

.story
	display: flex
	align-items: flex-end
	position: relative
	+r(768)
		display: block
	&__decor
		position: absolute
		bottom: -7%
		left: -1.2%
		z-index: -1
		width: 100%
		max-width: 34%
		+r(1024)
			min-width: 215px
		+r(768)
			max-width: 360px
			min-width: auto
			bottom: auto
			top: 4%
			left: -2%
		+r(480)
			max-width: 280px
	&__photo
		margin-right: 50px
		max-width: 31.5%
		width: 100%
		+r(1720)
			margin-right: 30px
		+r(1024)
			margin-right: 20px
		+r(768)
			max-width: 335px
			height: 260px
			margin-right: 0
			margin-bottom: 17px
			+object-fit(cover)
		+r(480)
			max-width: 255px
			height: 230px
	&__name
		color: $primary
		font-size: 24px
		font-weight: 500
		margin-bottom: 32px
		display: flex
		align-items: baseline
		+r(1300)
			margin-bottom: 20px
		+r(480)
			justify-content: space-between
			margin-bottom: 16px
	&__text
		color: $garkGreen
		font-size: 40px
		line-height: 130%
		margin-bottom: -10px
		p
			&:first-of-type
				font-weight: 500
			+nlt
				margin-bottom: 25px
		+r(1720)
			font-size: 36px
		+r(1440)
			font-size: 32px
		+r(1300)
			font-size: 28px
			margin-bottom: 0
		+r(1140)
			font-size: 24px
			p
				+nlt
					margin-bottom: 15px
		+r(1024)
			font-size: 2.4vw
		+r(768)
			font-size: 18px
		+r(595)
			font-size: 16px
			line-height: 140%
			color: transparentize($garkGreen, .3)
			p
				&:first-of-type
					color: $garkGreen