.stories
	padding-top: 140px
	padding-bottom: 160px
	+r(1440)
		padding-top: 90px
		padding-bottom: 110px
	+r(1300)
		padding-bottom: 90px
	+r(768)
		padding-top: 50px
		padding-bottom: 60px
	+r(480)
		padding-top: 40px
		padding-bottom: 50px
	.wrapper
		position: relative
	&__quotes
		position: absolute
		top: 0
		right: 10px
		+r(1920)
			right: 90px
		+r(1440)
			right: 80px
			width: 110px
		+r(1300)
			right: 70px
		+r(1140)
			width: 90px
		+r(1024)
			right: 40px
			width: 60px
		+r(768)
			width: 50px
		+r(480)
			right: 30px
			width: 40px
	&__title
		color: $garkGreen
		margin-bottom: 68px
		br
			display: none
		+r(1300)
			margin-bottom: 45px
		+r(768)
			margin-bottom: 25px
		+r(595)
			width: 360px
			br
				display: block
		+r(480)
			width: 230px
	.slick-arrow
		top: -140px
		&.next
			right: 0
		&.prev
			right: 80px
		+r(1440)
			top: -130px
			&.prev
				right: 70px
		+r(1300)
			top: -95px
			&.prev
				right: 55px
		+r(1024)
			top: -44%
		+r(768)
			top: calc(50% - 84%)
			&.prev
				right: 40px
		+r(595)
			top: calc(50% - 72%)
		+r(480)
			top: -21%

.story
	display: flex !important
	align-items: flex-end
	position: relative
	+r(595)
		display: block !important
	&__decor
		position: absolute
		bottom: -13%
		left: -1.2%
		z-index: -1
		width: 100%
		max-width: 31%
		+r(1024)
			max-width: 29%
			min-width: 215px
		+r(595)
			max-width: 360px
			min-width: auto
			bottom: auto
			top: 4%
			left: -2%
		+r(480)
			max-width: 106%
			top: 5%
			left: -3%
			width: auto
	&__photo
		margin-right: 5.5%
		max-width: 28.5%
		width: 100%
		+r(1024)
			max-width: 27%
			min-width: 200px
			margin-right: 3%
		+r(595)
			max-width: 335px
			margin-right: 0
			margin-bottom: 17px
		+r(480)
			max-width: 100%
	&__name
		color: $primary
		font-size: 24px
		font-weight: 500
		margin-bottom: 32px
		display: flex
		align-items: baseline
		+r(1300)
			margin-bottom: 20px
		+r(480)
			justify-content: space-between
			margin-bottom: 16px
	&__text
		color: $garkGreen
		font-size: 40px
		line-height: 130%
		max-width: 75%
		width: 100%
		margin-bottom: -10px
		+r(1720)
			font-size: 36px
		+r(1440)
			font-size: 32px
		+r(1300)
			font-size: 28px
			margin-bottom: 0
		+r(1140)
			font-size: 26px
		+r(1024)
			max-width: 85%
			font-size: 2.4vw
		+r(768)
			font-size: 18px
		+r(595)
			font-size: 16px
			line-height: 140%
			color: transparentize($garkGreen, .3)