.structure
	padding-bottom: 70px
	+r(768)
		padding-bottom: 40px
	.container
		width: 1760px
		+r(1920)
			width: 100%
			padding-left: 80px
			padding-right: 80px
		+r(1440)
			padding-left: 70px
			padding-right: 70px
		+r(1300)
			padding-left: 60px
			padding-right: 60px
		+r(1024)
			padding-left: 30px
			padding-right: 30px
	&__top
		position: relative
		padding-top: 90px
		padding-bottom: 104px
		border-radius: 40px
		display: flex
		z-index: 1
		&::after
			content: ''
			display: block
			position: absolute
			right: -60px
			left: -60px
			top: 0
			bottom: 0
			border-radius: 40px
			z-index: -1
			pointer-events: none
			background: #E3F5F3 url('../img/svg/structure_bg.svg') no-repeat left 400px
		+r(1720)
			padding-top: 70px
			padding-bottom: 90px
		+r(1440)
			&::after
				left: -50px
				right: -50px
				background-size: 460px
				background-position: left 290px
		+r(1300)
			&::after
				left: -40px
				right: -40px
		+r(890)
			padding-top: 40px
			padding-bottom: 50px
		+r(768)
			display: block
			padding-bottom: 20px
			&::after
				background: #E3F5F3
		+r(480)
			&::after
				left: -20px
				right: -20px
				border-radius: 20px
	&__left
		width: 31.3%
		margin-right: 50px
		flex-shrink: 0
		display: flex
		flex-direction: column
		+r(1720)
			margin-right: 30px
		+r(1140)
			margin-right: 20px
		+r(1024)
			width: 30%
		+r(768)
			width: 100%
			margin-right: 0
			margin-bottom: 30px
	&__title
		color: $garkGreen
		+r(768)
			br
				display: none
	&__list
		width: 100%
		margin-top: -25px
		+r(1300)
			margin-top: -10px
	&__info
		padding-top: 40px
		border-top: 1px solid $garkGreen
		margin-top: auto
		width: 74%
		+r(1140)
			width: 80%
		+r(1024)
			width: 90%
		+r(768)
			display: none
	&__label
		font-style: italic
		font-weight: 500
		font-size: 26px
		line-height: 120%
		color: $garkGreen
		margin-bottom: 40px
		width: 86%
		+r(1720)
			font-size: 22px
		+r(1440)
			font-size: 20px
		+r(1300)
			font-size: 18px
		+r(1140)
			width: 95%
		+r(768)
			margin-bottom: 0
			width: 60%
			margin-right: 15px
		+r(595)
			width: 100%
			margin-right: 0
			margin-bottom: 24px
	&__btn
		font-style: italic
		+r(768)
			max-width: 270px
		+r(480)
			max-width: 100%
	&__bottom
		display: none
		+r(768)
			display: flex
			border-radius: 40px
			margin-top: -60px
			display: flex
			align-items: center
			justify-content: space-between
			position: relative
			padding: 80px 0px 20px
			&::after
				content: ''
				display: block
				position: absolute
				right: -30px
				left: -30px
				top: 0
				bottom: 0
				border-radius: 40px
				z-index: -1
				pointer-events: none
				background: #D0EBE8
		+r(595)
			display: block
			padding-top: 85px
			padding-bottom: 30px
		+r(480)
			&::after
				left: -20px
				right: -20px
				border-radius: 20px

.question
	+nlt
		border-bottom: 1px solid $garkGreen
	&__top
		padding-top: 23px
		padding-bottom: 23px
		display: flex
		align-items: center
		justify-content: space-between
		cursor: pointer
		&:hover
			.question
				&__ttl
					color: $primary
				&__button
					background: #00AB97
		&.active
			.question__button
				&::before
					opacity: 0
		+r(1720)
			padding: 20px 0
		+r(1440)
			padding: 15px 0
		+r(1300)
			padding: 10px 0
		+r(768)
			padding: 8px 0
		+r(480)
			padding: 12px 0
	&__ttl
		color: $garkGreen
		font-size: 24px
		line-height: 120%
		margin-right: 15px
		font-weight: 500
		transition: all .3s
		+r(1720)
			font-size: 22px
		+r(1440)
			font-size: 20px
		+r(1300)
			font-size: 18px
		+r(768)
			font-size: 16px
	&__button
		width: 40px
		height: 40px
		border-radius: 50%
		background: $primary
		position: relative
		cursor: pointer
		transition: all .3s
		flex-shrink: 0
		&::after, &::before
			content: ''
			display: block
			position: absolute
			background: white
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
		&::after
			width: 16px
			height: 2px
		&::before
			height: 16px
			width: 2px
			transition: all .3s
		+r(1440)
			width: 35px
			height: 35px
			&::after
				width: 13px
			&::before
				height: 13px
		+r(768)
			width: 32px
			height: 32px
			&::after
				width: 12px
			&::before
				height: 12px
	&__info
		padding-left: 50px
		display: none
		width: 80%
		padding-bottom: 30px
		+r(1440)
			padding-left: 20px
			padding-bottom: 30px
		+r(480)
			width: 90%
			padding-bottom: 20px
			padding-left: 17px
	&__text
		color: #6A6A6A
		font-size: 18px
		line-height: 170%
		+r(1300)
			font-size: 16px
		+r(480)
			line-height: 130%

.question-list
	&__item
		position: relative
		padding-left: 28px
		color: #6A6A6A
		font-size: 18px
		line-height: 170%
		+nlt
			margin-bottom: 10px
		&::after
			content: ''
			display: block
			position: absolute
			width: 10px
			height: 10px
			border-radius: 50%
			background: $primary
			left: 0
			top: 50%
			transform: translateY(-50%)
		+r(1300)
			font-size: 16px
			+nlt
				margin-bottom: 5px
		+r(480)
			line-height: 130%
			padding-left: 24px
			+nlt
				margin-bottom: 3px
			&::after
				width: 8px
				height: 8px