.tutors
	padding-top: 107px
	padding-bottom: 145px
	+r(1440)
		padding-top: 50px
		padding-bottom: 100px
	+r(1300)
		padding-top: 20px
		padding-bottom: 70px
	+r(1024)
		padding-top: 0
	+r(890)
		padding-bottom: 50px
	.wrapper
		display: flex
		align-items: flex-start
		justify-content: space-between
		background: url('../img/svg/tutors_bg.svg') no-repeat left 340px
		+r(1920)
			background-position: 80px 340px
			background-size: 400px
		+r(1720)
			background-position: 80px 340px
			background-size: 25%
		+r(1440)
			background-position: 70px 47%
		+r(1024)
			background: none
			display: block
		+r(595)
			padding-right: 0
	&__title
		margin-bottom: 81px
		color: $garkGreen
		font-size: 116px
		width: 31.5%
		margin-right: 50px
		flex-shrink: 0
		br
			display: none
		+r(1720)
			margin-right: 30px
			font-size: 100px
		+r(1440)
			font-size: 90px
		+r(1300)
			font-size: 80px
		+r(1140)
			font-size: 70px
		+r(1024)
			width: 100%
			margin-bottom: 50px
			margin-right: 0
		+r(890)
			margin-bottom: 30px
		+r(595)
			width: 220px
			br
				display: block
		+r(480)
			margin-bottom: 25px
	&__slider
		margin-right: 40px
		margin-top: -70px
		+r(1440)
			margin-right: 0
		+r(1024)
			margin-top: 0
			margin-right: 0
	.slick-slide
		margin-left: 100px
		transition: all .3s
		position: relative
		max-width: 50%
		width: 100%
		margin-top: 60px
		margin-left: 20px
		margin-right: 20px
		&[data-slick-index="0"]
			margin-right: 80px
			margin-top: 144px
		+r(1720)
			&[data-slick-index="0"]
				margin-right: 8%
		+r(1440)
			&[data-slick-index="0"]
				margin-right: 3%
		+r(1024)
			margin: 40px 20px
			&[data-slick-index="0"]
				margin-top: 120px
				margin-right: 20px
		+r(595)
			margin: 20px
			&[data-slick-index="0"]
				margin: 20px
		+r(595)
			max-width: 305px
		+r(480)
			max-width: 280px
	.slick-list
		+r(1024)
			margin: -40px -20px
		+r(595)
			margin: 0 -10px
			padding: 0 10px
	.slick-track
		+rm(596)
			display: flex
			width: 100% !important
			transform: none !important
	.slick-arrow
		top: -155px
		&.next
			left: 1430px
		&.prev
			left: 1350px
		+r(1720)
			top: -150px
			&.next
				left: 1200px
			&.prev
				left: 1120px
		+r(1440)
			top: -130px
			&.next
				left: auto
				right: 70px
			&.prev
				left: auto
				right: 140px
		+r(1300)
			top: -110px
			&.next
				right: 60px
			&.prev
				right: 120px
		+r(1024)
			top: -15.5%
			&.next
				right: 30px
			&.prev
				right: 85px
		+r(890)
			top: -12%
		+r(768)
			top: -10.5%
			&.prev
				right: 70px
		+r(595)
			top: -15.5%
		+r(480)
			top: -14.5%
			&.next
				right: 20px
			&.prev
				right: 60px

	.slick-dots
		margin-top: 40px
		width: 1520px
		+r(1720)
			width: 1290px
		+r(1440)
			width: 1170px
			margin-top: 30px
		+r(1300)
			width: 1050px
		+r(1140)
			width: 940px
		+r(1024)
			width: auto
			margin-left: -30px
		+r(480)
			margin-top: 23px

.tutor
	min-height: 500px
	display: flex !important
	flex-direction: column
	align-items: flex-start
	height: 100%
	position: relative
	&--0
		.tutor__decor
			top: -50px
			right: -20px
			width: 120%
			max-width: 120%
			+r(1920)
				top: -5%
			+r(595)
				top: -20px
				left: -10px
				width: 110%
				max-width: 110%
	&--1
		.tutor__decor
			top: -40px
			right: -20px
			+r(1920)
				top: -4%
			+r(595)
				top: -20px
	+r(1720)
		min-height: auto
	&__decor
		position: absolute
		z-index: -1
	&__img
		margin-bottom: 56px
		max-width: 500px
		width: 100%
		+r(1720)
			margin-bottom: 45px
		+r(1440)
			margin-bottom: 35px
		+r(1300)
			margin-bottom: 20px
		+r(480)
			margin-bottom: 26px
	&__name
		font-weight: 500
		font-size: 32px
		line-height: 100%
		margin-bottom: 26px
		color: $garkGreen
		+r(1720)
			font-size: 30px
		+r(1440)
			font-size: 28px
			margin-bottom: 15px
		+r(1300)
			font-size: 24px
			margin-bottom: 10px
		+r(480)
			margin-bottom: 15px
	&__post
		font-size: 18px
		line-height: 140%
		color: $primary
		margin-bottom: 24px
		width: 75%
		+r(1720)
			font-size: 17px
		+r(1440)
			width: 90%
			line-height: 120%
		+r(1300)
			font-size: 16px
			line-height: 130%
	&__text
		font-size: 24px
		line-height: 150%
		color: transparentize($garkGreen, .3)
		max-width: 500px
		width: 100%
		margin-bottom: 25px
		+r(1720)
			font-size: 22px
		+r(1300)
			font-size: 20px
			margin-bottom: 20px
		+r(1024)
			font-size: 16px
			line-height: 140%
	&__link
		display: block
		margin-top: auto
	.fico
		font-size: 28px
		color: $garkGreen
		transition: all .3s
		&:hover
			color: $primary

